// custom bootstrap (custom.scss also imports bootstrap)
// https://getbootstrap.com/docs/5.0/customize/sass/#importing
@import "styles/custom";
//@import "styles-v4/custom";
:root {
  --primary: #007bff;
}

.LeafletMap {
  &__container {
    height: 100%;
    text-align: center;
    background: #f2efe9;

    .leaflet-control-layers {
      text-align: left;
    }
    /* TODO: redo checkbox colors
    .leaflet-control-layers-selector {
    }
    */
  }
  &--error {
    color: red;
  }
  &__text {
    padding: 1rem;
  }
}
